body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.formGroup {
  width: 50%;
  margin-top: 4em;
}

.formGroup button {
  display: block;
  width: 100%;
  height: 3em;
  border-radius: 1em;
  color: #fff;
  background: #282c34;
  border: #2cd3ac 3px solid;
  font-size: .5em;
  font-weight: bold;
  padding: 0;
  cursor: pointer;
}

.formGroup input {
  width: 95%;
  height: 2em;
  border-radius: 1em;
  padding: .5em 1em .5em 1em;
  color: #fff;
  background: #404550;
  border: #2cd3ac 2px solid;
  box-shadow: inset 0 0 10px #000000;
  margin-bottom: 1em;
  font-size: .5em;
}
.formGroup input:focus {
  outline: none;
}


